In [104]:
import pandas as pd
df = pd.read_csv('CrabAgePrediction.csv')
df

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,F,1.4375,1.1750,0.4125,24.635715,12.332033,5.584852,6.747181,9
1,M,0.8875,0.6500,0.2125,5.400580,2.296310,1.374951,1.559222,6
2,I,1.0375,0.7750,0.2500,7.952035,3.231843,1.601747,2.764076,6
3,F,1.1750,0.8875,0.2500,13.480187,4.748541,2.282135,5.244657,10
4,I,0.8875,0.6625,0.2125,6.903103,3.458639,1.488349,1.700970,6
...,...,...,...,...,...,...,...,...,...
3888,F,1.4625,1.1375,0.3250,24.819987,11.651644,5.854172,6.378637,8
3889,F,1.5500,1.2125,0.4375,34.458817,15.450477,7.172423,9.780577,10
3890,I,0.6250,0.4625,0.1625,2.012815,0.765436,0.524466,0.637864,5
3891,I,1.0625,0.7750,0.2625,10.347568,4.507570,2.338834,2.976698,6
3892,I,0.7875,0.6125,0.2125,4.068153,1.502523,1.346601,1.417475,8

In [99]:
df.shape

(3893, 9)

In [100]:
df.describe

<bound method NDFrame.describe of      Sex  Length  Diameter  Height     Weight  Shucked Weight  Viscera Weight  \
0      F  1.4375    1.1750  0.4125  24.635715       12.332033        5.584852
1      M  0.8875    0.6500  0.2125   5.400580        2.296310        1.374951
2      I  1.0375    0.7750  0.2500   7.952035        3.231843        1.601747
3      F  1.1750    0.8875  0.2500  13.480187        4.748541        2.282135
4      I  0.8875    0.6625  0.2125   6.903103        3.458639        1.488349
...   ..     ...       ...     ...        ...             ...             ...
3888   F  1.4625    1.1375  0.3250  24.819987       11.651644        5.854172
3889   F  1.5500    1.2125  0.4375  34.458817       15.450477        7.172423
3890   I  0.6250    0.4625  0.1625   2.012815        0.765436        0.524466
3891   I  1.0625    0.7750  0.2625  10.347568        4.507570        2.338834
3892   I  0.7875    0.6125  0.2125   4.068153        1.502523        1.346601

      Shell Weight  Age
0         6.747181    9
1         1.559222    6
2         2.764076    6
3         5.244657   10
4         1.700970    6
...            ...  ...
3888      6.378637    8
3889      9.780577   10
3890      0.637864    5
3891      2.976698    6
3892      1.417475    8

[3893 rows x 9 columns]>

In [101]:
df.values

array([['F', 1.4375, 1.175, ..., 5.5848515, 6.747181, 9],
       ['M', 0.8875, 0.65, ..., 1.37495075, 1.5592225, 6],
       ['I', 1.0375, 0.775, ..., 1.60174675, 2.76407625, 6],
       ...,
       ['I', 0.625, 0.4625, ..., 0.52446575, 0.63786375, 5],
       ['I', 1.0625, 0.775, ..., 2.33883375, 2.9766975, 6],
       ['I', 0.7875, 0.6125, ..., 1.34660125, 1.417475, 8]], dtype=object)

In [132]:
#Learning and predicting
# We are asking AI to predict the Sex of Crab according to their data
from sklearn.tree import DecisionTreeClassifier

X = df.drop(columns=['Sex'])
y = df['Sex']

model = DecisionTreeClassifier()
model.fit(X.values, y)

predictions = model.predict([[14.4375, 4.1750, 2.4125, 2.635715, 15.332033, 2.584852, 1.747181, 11]])
predictions

array(['M'], dtype=object)

In [300]:
#Calculation The Accuracy
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

df = pd.read_csv('CrabAgePrediction.csv')
X = df.drop(columns=['Sex'])
y = df['Sex']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

0.4762516046213094

In [301]:
#Persisting Models
import joblib

joblib.dump(model, 'Crab_Sex.joblib')

['Crab_Sex.joblib']

In [311]:
#Checking if the model is working perfectly or not
model = joblib.load('Crab_Sex.joblib')
model.fit(X.values, y)
predictions = model.predict([[1.4375, 1.1750, 22.4125, 12.635715, 12.332033, 14.584852, 3.747181, 4]])
predictions

array(['M'], dtype=object)

In [315]:
#Visualizing Decision Trees
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

df = pd.read_csv('CrabAgePrediction.csv')
X = df.drop(columns=['Sex'])
y = df['Sex']
    
model = DecisionTreeClassifier()
model.fit(X.values, y)

tree.export_graphviz(model, out_file='Crab_Sex.dot',
                    feature_names=['Length','Diameter','Height','Weight','Shucked Weight','Viscera Weight','Shell Weight','Age'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)